/* public/styles.css */
body {
    background: skyblue;
}

input {
    width: 480px;
    height: 80px;
    font-size: 80px;
}
button {
    height: 160px;
    font-size: 40px;
    border-radius: 50%;
}
button:hover {
    color: white;
    background-color: gray;
}
.center {
    display: flex;
    justify-content: center; /* 横方向中央揃え */
    align-items: center; /* 縦方向中央揃え */
    font-size: 80px;
    text-align: center;
    gap: 10px;
}
